[data-theme="dark"] {
    --accent: 46, 48, 51;


    //区域背景色
    --background-bg: 20, 22, 26;
    //区域背景深色
    --background-deep: 20, 22, 26;


    //卡片色
    --card: 29, 30, 31;

    //边框
    --border: #36363a;

    //字体
    --text-1: 255, 255, 255;
    --text-2: #a1a1aa;
}
