:root {
    //侧栏菜单宽度
    --slidebar-width: 80px;
    --extra-width: 220px;

    //头部高度
    --header-height: 50px;
    //tabbar高度
    --tababr-height: 40px;

    //主题色
    --primary: 255, 121, 87;

    //圆角
    --base-radius: 4px;

    //状态颜色
    --success: 87 209 136;
}
