:root {
    //侧栏菜单宽度
    --slidebar-width: 80px;
    --extra-width: 220px;

    --header-height: 50px;

    //主题色
    --primary: 255, 121, 87;

    //圆角
    --radius-base: 4px;

    //状态颜色
    --success: 87 209 136;
}
