.light {
    //卡片背景色
    --background-bg: 255, 255, 255;
    //区域背景深色
    --background-deep: 219, 220, 223;
    //背景色
    --overlay-content: 240, 242, 245;

    //侧栏深色
    --aside-dark: 20, 22, 26;

    //边框
    --border: #e4e4e7;

    //字体
    --text-1: 29, 30, 28;
    //淡色字体
    --text-2: #71717a;

    //悬浮色
    --accent: 244, 244, 245;
}
