[data-theme="light"] {
    //区域背景色
    --background-deep: 240, 242, 245;
    //卡片色
    --card: 255, 255, 255;

    //边框
    --border: #e4e4e7;

    //字体
    --text-1: 29, 30, 28;
    --text-2: #71717a;

}
