[data-theme="light"] {

    //区域背景色
    --background-bg: 255, 255, 255;
    //区域背景深色
    --background-deep: 219, 220, 223;

    //卡片色
    --card: 255, 255, 255;

    //边框
    --border: #e4e4e7;

    //字体
    --text-1: 29, 30, 28;
    --text-2: #71717a;

    --heavy: 226, 230, 231
}
