@import "element.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*color: rgb(var(--text-1));*/
}

body {
    min-height: 100vh;
}

body, #app {
    width: 100%;
    height: 100%;
}

/* stylelint-disable */
::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/*定义滚动条轨道 圆角，滚动条白色*/
::-webkit-scrollbar-track {
    background-color: transparent;
}

/*定义滑块 内边框和滑块颜色 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dcdddf;
}
