@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $input: (
        'bg-color':rgb(var(--background-bg)),
        'border-color':var(--border),
        'hover-border-color':var(--border),
    ),
    $border-color:(
        '':var(--border),
    ),
    $menu:(
        'hover-bg-color':rgba(var(--accent)),
        'bg-color':rgba(var(--background-bg)),
        'text-color':rgba(var(--text-1))
    )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

.el-input__wrapper {
    transition: all 0.3s;
}

.el-menu--popup-container {
    --el-menu-item-height: 40px;

    .el-menu--popup {
        padding: 10px;
        border-radius: 10px;

        .el-sub-menu__title {
            padding-left: 8px;
        }
    }
}

.el-popper.is-light {
    //border: none;
    //background: transparent;
}
