@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $input: (
        'bg-color':rgb(var(--background-bg)),
        'border-color':var(--border),
        'hover-border-color':var(--border),
    ),
    $border-color:(
        '':var(--border),
    ),
    $menu:(
        'hover-bg-color':rgba(var(--background-deep),0.3)
    )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

.el-input__wrapper {
    transition: all 0.3s;
}
